.movino-content {
  margin: 20px 0;
}
.movino-content-page .movino-metadata {
  margin: 20px 0;
}
.movino-content-list {
  margin: 0;
  padding: 0;
}
.movino-content-list-item {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 20px;
  clear: both;
}
li.movino-content-list-item {
  list-style: none;
  background: none;
}
.movino-video-icon {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 0;
}
.movino-field-label {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 10px;
}
.movino-field-title .movino-field-content {
  font-weight: bold;
}