body {
  font:11pt arial,helvetica,clean,sans-serif;
  *font-size:small;
  *font:x-small;
  color: #444;
  background-color: #ddff66;
  padding: 5px 0 30px 100px;
}
h1 {
  font-family: serif;
  color: #555;
  font-size: 40pt;
}
img {
  border: none;
}
a, a:active, a:link, a:visited {
  color: #a83e1d;
  text-decoration: none;
}
a:hover {
}

.movino-content-list-item {
  width: 300px;
  padding: 20px 0;
  border-bottom: 2px dashed #999;
}
.movino-field-title {
  font-size: 14pt;
}
.movino-field-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8pt;
  margin: 12px 0 4px 0;
}
.message {
  color: #666;
  font-family: serif;
  font-style: italic;
}
.pager {
  padding: 20px 0 0 0;
}
.pager a, .pager-current {
  padding: 0 5px 0 0;
  font-weight: bold;
}
